---
import { getCollection } from 'astro:content';
import SiteNavLinks from '../../components/SiteNavLinks.astro';
import Card from '../../components/ui/Card.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortMDByDate } from '../../utils';
import SectionHeading from '../../components/ui/SectionHeading.astro';
import PostList from '../../components/ui/PostList.astro';

const allPosts = await getCollection('blog');
const allPostsByDate = sortMDByDate(allPosts);
---

<BaseLayout title="Blog">
  <section aria-label="Publicaciones de mi sitio">
    <Card>
      <nav aria-label="Sitio" class="mb-4 border-b border-gray-300 pb-3 dark:border-gray-600">
        <SiteNavLinks activeItemID="blog" />
      </nav>
      <SectionHeading as="h1">📝 Publicaciones</SectionHeading>

      {
        allPostsByDate.length === 0 ? (
          <div class="mb-6 flex items-center gap-4">
            <p class="text-4xl">🔍</p>
            <div class="flex flex-col">
              <h1 class="text-2xl font-bold text-yellow-400">404</h1>
              <p class="text-xs text-muted">No hay publicaciones disponibles</p>
            </div>
          </div>
        ) : (
          <PostList posts={allPostsByDate} />
        )
      }
    </Card>
  </section>
</BaseLayout>
