---
const { navbarActiveItemID } = Astro.props;
const activeClasses = ["text-emerald-500", "opacity-100"];

const links: Array<{
  title: string;
  id?: string;
  url?: string;
  new?: boolean;
  redirect?: string;
}> = [
  {
    title: "index.html",
    id: "home",
    url: "/",
  },
  {
    title: "blog.sql",
    id: "blog",
    url: "/blog",
  },
  {
    title: "photos.jpg",
    redirect: "https://ojoanalogo.com",
  },
  {
    title: "startup.sh",
    redirect: "https://molecula.digital",
  },
];
---

<header id="main-header" class="px-2 md:px-6 pt-4 mb-4">
  <nav
    id="navigation-menu"
    aria-label="Main menu"
    class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4 max-w-[55rem] mx-auto"
  >
    <span>
      <a href="/" target="_self" class="text-white font-medium text-lg hover:text-emerald-600 transition-colors duration-200">
        alfon.so
      </a>
    </span>
    <span class="flex flex-wrap gap-3 sm:gap-4 text-sm">
      {
        links.map((link) => {
          return (
            <a
              href={link.redirect ? link.redirect : link.url}
              target={link.redirect ? "_blank" : "_self"}
              id={link.id}
              class="text-gray-300 hover:text-emerald-500 transition-all duration-200"
            >
              {link.title}
            </a>
          );
        })
      }
    </span>
  </nav>
</header>

<script
  define:vars={{
    navbarActiveItemID,
    activeClasses,
  }}
>
  const activeItemElement = document.getElementById(navbarActiveItemID);

  activeClasses.forEach((activeClass) => {
    activeItemElement.classList.add(activeClass);
  });
</script>
