---
import { NAV_LINKS } from '../config';

interface Props {
  activeItemID?: string;
}

const { activeItemID } = Astro.props;
---

<nav aria-label="Sitio" class="flex flex-wrap gap-x-3 gap-y-1">
  {
    NAV_LINKS.map((link) => (
      <a
        href={link.redirect ?? link.url}
        target={link.redirect ? '_blank' : '_self'}
        id={link.id}
        class:list={[
          'text-accent transition-colors hover:underline',
          link.tooltip && 'tooltip',
          link.id === activeItemID && 'font-semibold underline',
        ]}
        data-tooltip={link.tooltip}
      >
        {link.title}
      </a>
    ))
  }
</nav>
