---
import BaseHead from '../components/site/BaseHead.astro';
import Header from '../components/site/Header.astro';
import NoiseBackground from '../components/site/NoiseBackground.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '../config';

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  desktop = false,
  navbarActiveItemID,
} = Astro.props;
---

<!doctype html>
<html
  lang="es"
  class="bg-background text-secondary selection:bg-zinc-900/20 selection:text-primary dark:selection:bg-white/15"
>
  <head>
    <BaseHead title={title} description={description} image={image} />
    <script is:inline>
      (function () {
        const theme = localStorage.getItem('theme');
        if (
          theme === 'dark' ||
          (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark');
        }
      })();
    </script>
  </head>
  <body
    class:list={[
      'relative mx-auto w-full bg-background font-sans',
      !desktop && 'sm:px-2 md:px-4 lg:w-4/5 xl:w-[55rem]',
      desktop && 'h-dvh overflow-hidden',
    ]}
  >
    {!desktop && <NoiseBackground />}
    <div class="relative z-10">
      {!desktop && <Header navbarActiveItemID={navbarActiveItemID} />}
      <main
        id="main"
        class:list={[!desktop && 'px-2 pb-12 md:px-6', desktop && 'p-0']}
      >
        <slot />
      </main>
    </div>
  </body>
</html>
