---
import type { HTMLAttributes } from 'astro/types';
import { CARD_BASE } from '../../styles/tokens';

type Props = HTMLAttributes<'div'>;

const { class: className = '', ...attrs } = Astro.props;
---

<div class:list={[CARD_BASE, 'p-4 sm:p-6', className]} {...attrs}>
  <slot />
</div>
