---
interface Props {
  command: string;
  class?: string;
}

const { command, class: className } = Astro.props;
---

<div
  class:list={[
    'mt-3 border-t border-gray-300 pt-2 text-xs text-muted dark:border-gray-700',
    className,
  ]}
>
  <span class="text-secondary">$</span>
  {command}
</div>
